html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  height: 150vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hero {
  background: url(../img/smoke.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.hero-heading {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 12rem;
  margin-bottom: 0;
}
.hero-paragraph {
  font-size: 2rem;
  font-weight: 300;
}
.hero-button {
  display: inline-block;
  background: whitesmoke;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 8px;
}
.hero-button:hover {
  background: #777777;
  color: #fff;
}




header{
    height: 48px;
    width: 100%;
    background-color: #2e1d02;
    
}
a{
    color: white;
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
}
a:hover{
    color: #ce3d3d;
}
#links{
    font-weight: 100;
}
span{
    font-weight: 300;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    
    height: 100%;
    font-family: lato,helvetica, sans-serif;

}
ul{
    display: flex;
    width: 20%;
    list-style: none;
    justify-content: space-evenly;

}
h1{
    font-size: 1rem;
}

/*=============================================
=            Carousel section            =
=============================================*/

.carousel-section {
  padding-top: 4.8rem;
  background: #f2f2f2;
}

.carousel-section-container {
  margin: 0 1.8rem;
  max-width: 1200px;
}

.carousel-section-container > h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #545454;
}

.carousel-section-container > p {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto 4rem auto;
  color: #949494;
  max-width: 900px;
}

.carousel-wrapper {
  max-width: 960px;
  margin: 0 -1.8rem;
  text-align: center;
  user-select: none;
  position: relative;
}

.carousel-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  display: none;
  margin: 0 auto;
}

.visible {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  padding: 8rem 8rem 8rem 5rem;
  left: 0;
}

.next {
  padding: 8rem 5rem 8rem 8rem;
  right: 0;
}

.chevron-icon {
  color: #fff;
}

/*=====  End of Carousel section  ======*/


/*=============================================
=            Media queries            =
=============================================*/

/* Mobile Landscape */
@media screen and (min-width: 480px) {

  /*----------  Carousel styles  ----------*/
  
  .carousel-section-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .carousel-wrapper {
    margin: 0 auto;
  }

  .carousel-image {
    border: solid 8px #fff;
    border-bottom: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-height: 260px;
  }

  .chevron-icon {
    font-size: 2.4rem;
  }
}

/* Tablet */
@media screen and (min-width: 736px) {

  /*----------  Carousel styles  ----------*/

  .carousel-section {
    padding-top: 8rem;
  }

  .carousel-section-container > h2 {
    font-size: 3.76rem;
  }

  .carousel-section-container > p {
    font-size: 2rem;
    margin-bottom: 7rem;
  }

  .carousel-image {
    border-width: 24px;
  }

  .chevron-icon {
    font-size: 3rem;
  }
}

/* Tablet landscape */
@media screen and (min-width: 980px) {

  /*----------  Carousel styles  ----------*/

  .carousel-section-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .carousel-section-container > p {
    max-width: 700px;
  }

  .carousel-image {
    max-height: 318px;
    max-width: 768px;
  }

  .chevron-icon {
    color: lightgrey;
  }

  .prev, .next {
    background: #fff;
    padding: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {

  /*----------  Carousel styles  ----------*/

  .carousel-image {
    max-height: 400px;
    max-width: 960px;
  }

  .prev {
    left: -12rem;
  }

  .next {
    right: -12rem;
  }
}

/*=====  End of Media queries  ======*/
