html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
.hero {
  background: url(../img/smoke.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.hero-heading {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 12rem;
  margin-bottom: 0;
}
.hero-paragraph {
  font-size: 2rem;
  font-weight: 300;
}
.hero-button {
  display: inline-block;
  background: whitesmoke;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 8px;
}
.hero-button:hover {
  background: #777777;
  color: #fff;
}
